div{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

div a{
  background: linear-gradient(207.8deg, #3d788a 16.69%,#b98181   100%);
  padding: .3rem 1rem;
  margin: .2rem .15rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  font-weight: 600;
 color: #ffebcd;
}
div a:hover{
  opacity: .9;
  cursor: pointer;
}
